<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="card(item)" class="card" style="width: 18rem;" th:object="${item}">
        <img th:src="@{*{urlImg}}" class="card-img-top" th:alt="*{name}">
        <div class="card-body">
            <h5 class="card-title">[[*{price}]]€</h5>
            <p class="card-text">[[*{description}]]</p>
            <a th:href="@{/pizzas/update/{id}(id=*{id})}" class="btn btn-primary">Edit</a>
        </div>
    </div>
</body>

</html>